<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Bibliotheque $bibliotheque
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Bibliotheque'), ['action' => 'edit', $bibliotheque->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Bibliotheque'), ['action' => 'delete', $bibliotheque->id], ['confirm' => __('Are you sure you want to delete # {0}?', $bibliotheque->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Bibliotheques'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Bibliotheque'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="bibliotheques view large-9 medium-8 columns content">
    <h3><?= h($bibliotheque->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Libelle') ?></th>
            <td><?= h($bibliotheque->libelle) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Photo') ?></th>
            <td><?= h($bibliotheque->photo) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= $this->Number->format($bibliotheque->id) ?></td>
        </tr>
    </table>
</div>
