.rowArrowsInCarousel {
    margin: auto; 
}
@media screen and (max-width: 768px) {
  .rowArrowsInCarousel{
    display: none;
  }
}
.btnLogout {
  float: right;
  border-radius: 25px;
}
#resizable { 
  width: 150px; height: 150px; padding: 0.5em; 
}
#resizable h3 { 
  text-align: center; margin: 0; 
}