#header {
    background: #01082c;
}
#header .icons a {
    color: #36B8FA;
}
#nav1 ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

    #nav1 ul li {
        padding-left: 0;
    }

        #nav1 ul li a {
            display: block;
            padding: 0.5em 1.5em 0.5em 1.5em;
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            outline: 0;
            border: 0;
            -moz-transition: none;
            -webkit-transition: none;
            -ms-transition: none;
            transition: none;
        }

            #nav1 ul li a span {
                position: relative;
                display: block;
                font-size: 0.8em;
            }

                #nav1 ul li a span:before {
                    position: absolute;
                    left: 0;
                    color: #41484c;
                    text-align: center;
                    width: 1.25em;
                    line-height: 1.75em;
                }

            #nav1 ul li a.active {
                background: rgba(0, 0, 0, 0.15);
                box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
                color: #fff;
            }

                #nav1 ul li a.active span:before {
                    color: #e27689;
                }
