#bg-1 {
  width: 100%;
  height: 75vh;
  /*  background: url("../img/real-bg1.jpg") top left; */
  background-size: cover;
  position: relative;
}

#bg-1:before {
  content: "";
  /* background: rgba(255, 255, 255, 0.6); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#bg-1 .container {
  position: relative;
  padding-top: 132px;
}

@media (max-width: 992px) {
  #bg-1 .container {
    padding-top: 58px;
  }
}

#bg-1 h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color:#FFFFFF;
  font-family: "Poppins", sans-serif;
}

#bg-1 h1 span {
  color: #04135E;
}

#bg-1 h2 {
  color: #FFFFFF;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

#bg-1 .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #04135E;
}

#bg-1 .btn-get-started:hover {
  background: #247cf0;
}

#bg-1 .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px 8px 40px;
  transition: 0.5s;
  margin-left: 25px;
  color:#FFFFFF;
  position: relative;
  font-weight: 600;
}

#bg-1 .btn-watch-video i {
  color: #04135E;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.3s;
}

#bg-1 .btn-watch-video:hover {
  color: #04135E;
}

#bg-1 .btn-watch-video:hover i {
  color: #3b8af2;
}

@media (min-width: 1024px) {
  #bg-1 {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #bg-1 {
    height: 100vh;
  }
  #bg-1 h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #bg-1 h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #bg-1 .btn-get-started, #bg-1 .btn-watch-video {
    font-size: 13px;
  }
}

@media (max-height: 500px) {
  #bg-1 {
    height: 120vh;
  }
}
a {
    color: #04135E;
  }
  
  a:hover {
    color: #6ba7f5;
    text-decoration: none;
  }

#preloader:before {
    border: 6px solid #04135E;
  }
.back-to-top i {
    background: #04135E;
  }
  
  .back-to-top i:hover {
    background: #04135E;
  }
  
#topbar {
    background: #04135E;
  }
#header .logo a span {
    color: #04135E;
  }
.nav-menu > ul > li > a:before {
    background-color: #04135E;
  }
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #04135E;
  }
.nav-menu .drop-down ul a {
    color: #04135E;
  }
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #04135E;
  }
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #04135E;
  }
  #bg-1 h1 span {
    color: #04135E;
  }
  #bg-1 .btn-get-started:hover {
    background: #04135E;;
  }
  #bg-1 .btn-get-started {
 
    background: #04135E;
  }
  #bg-1 .btn-watch-video i {
    color: #04135E;
  }
  #bg-1 .btn-watch-video:hover i {
    color: #04135E;
  }
  #bg-1 .btn-watch-video:hover {
    color: #04135E;
  }
  .section-title h2 {
   
    color: #04135E;
  }
  .section-title h3 span {
    color: #04135E;
  }
  .featured-services .icon-box:hover::before {
    background: #04135E;
    top: 0;
    border-radius: 0px;
  }
 .featured-services .icon i {
    color: #04135E;
    transition: all 0.3s ease-in-out;
  }
  .about .content ul i {
    color: #04135E;
  }
  .skills .progress-bar {
    background-color: #04135E;
  }
  .counts .count-box i {
    background: #04135E;
  }
  .counts .count-box span {
    color: #04135E;
  }
  .services .icon-box .icon i {
    color: #04135E;
  }
  .services .icon-box:hover h4 a, .services .icon-box:hover .icon i {
    color: #04135E;
  }
  
  .services .icon-box:hover .icon {
    border-color: #04135E;
  }
  .testimonials .owl-dot.active {
    background-color: #04135E !important;
  }
  .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: #04135E;
  }
  .portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #04135E;
  }
  .portfolio .portfolio-item .portfolio-links a:hover {
    color: #04135E;
  }
  .portfolio-details .portfolio-details-carousel .owl-dot.active {
    background-color: #04135E !important;
  }
  .team .member .social a {

    background: #04135E;
  
  }
  .pricing .box h4 {
    color: #04135E;
  }
  .pricing .box ul i {
    color: #04135E;
  }
  .pricing .btn-buy {
    background: #04135E;
  }
  
  .pricing .btn-buy:hover {
    background: #04135E;
  }
  
  .pricing .featured h3 {
    color: #fff;
    background: #04135E;
  }
  .pricing .advanced {
    background: #04135E;
    color: #fff;
  }
  .faq .faq-list a {
    font-family: #04135E;
  }
  .faq .faq-list a.collapse {
    color: #04135E;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: #04135E;
  }
  .contact .info-box i {
    color: #04135E;
  }
  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #04135E;
  }
  .contact .php-email-form button[type="submit"] {
    background: #04135E;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #04135E;
  }
  #footer .footer-newsletter form input[type="submit"] {

    background: #04135E;
  }
  #footer .footer-newsletter form input[type="submit"]:hover {
    background: #04135E;
  }
  #footer .footer-top .footer-links ul i {
    color: #04135E;
  }
  #footer .footer-top .footer-links ul a:hover {
    color: #04135E;
  }
  
  #footer .footer-top .social-links a {
    background: #04135E;
  }
  #footer .footer-top .social-links a:hover {
    background: #04135E;
  }

  