<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\QualificationDossier[]|\Cake\Collection\CollectionInterface $qualificationDossiers
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Qualification Dossier'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Dossiers'), ['controller' => 'Dossiers', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Dossier'), ['controller' => 'Dossiers', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="qualificationDossiers index large-9 medium-8 columns content">
    <h3><?= __('Qualification Dossiers') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('dossiers_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('created') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($qualificationDossiers as $qualificationDossier): ?>
            <tr>
                <td><?= $this->Number->format($qualificationDossier->id) ?></td>
                <td><?= $qualificationDossier->has('dossier') ? $this->Html->link($qualificationDossier->dossier->id, ['controller' => 'Dossiers', 'action' => 'view', $qualificationDossier->dossier->id]) : '' ?></td>
                <td><?= h($qualificationDossier->created) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $qualificationDossier->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $qualificationDossier->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $qualificationDossier->id], ['confirm' => __('Are you sure you want to delete # {0}?', $qualificationDossier->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
