body {
  background-color: #eee !important;
}
#mainNav {
    background-color: #fff !important;
}
img{ max-width:100%;}
.inbox_people {
  background: #fff none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 35%;
  border-right: 1px solid grey;
}
.inbox_msg {
  clear: both;
  overflow: hidden;
  background-color: #fff !important;
  max-height: 510px !important;
}
.h-messages {
  max-height: 347px !important;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:100%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 100%;
}
.headind_srch{ 
  padding:10px 0 10px 0; 
  overflow:hidden; 
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ 
    border-width:0 0 1px 0; 
    width:100%; 
    padding:2px 0 4px 6px; 
    background:none;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 55px;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { 
  height: 390px;
  overflow-y: auto;
  padding: 5px !important;
  padding-bottom: 40px !important;
}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 9%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 91%;
 }
 /* Laptop */
@media screen and (min-width: 1140px) {
  .incoming_msg_img img {
    width: 40px !important;
    height: 40px !important;
  }
}
/* Mobile */
@media screen and (max-width: 723px) { 
  .incoming_msg_img img {
    width: 30px !important;
    height: 30px !important;
  }
}
 .received_withd_msg p {
  background: #0FAFFF none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 0;
  width: 65%;
  background-color: #fff !important;
}

 .sent_msg p {
  background: #2fdf03 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #672211 none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 55px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

footer {
    z-index: 1 !important;
}
#accordionSidebar {
    z-index: 2 !important;
}

/* Mobile */
@media screen and (max-width: 723px) { 
    .inbox_people {
        width: 100% !important;
    }
    .mesgs {
        width: 100% !important;
    }
    footer {
        display: none !important;
    }
}

.userClick:hover {
  text-decoration: none !important;
}

.border-round {
  border-radius: 50% !important;
}

.round-avatar {
    width: 55px;
    height: 55px;
    border-radius: 50% !important;
    border: 2px solid #2fdf03;
}
.write_msg {
  width: 80% !important;
}

.label-icon-file .fa {
  font-size: 18px;
}

.fancy_image img {
  width: 100px !important;
  height: 100px !important;
  border-radius: 10% !important;
  border: 1px solid rgb(255, 153, 0);
}
.marg-auto {
  margin: auto !important;
}


/* Style Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #672211;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #672211;
}

.page-item.active .page-link, .pagination .active.page-number .page-link {
    background-color: #672211 !important;
    border-color: #672211 !important;
}