body {
  overflow-x: hidden !important;
}
.app-theme-white .app-sidebar {
    z-index: 0 !important;
}
.modal-header {
    background-color: #01082c !important;
    color: #fff !important;
}
button.close {
    color: #fff !important;
}
.w-80px {
    width: 80px !important;
}

.content-add-folder .btn-group {
    width: 100% !important;
    border: 1px solid gray;
}
.multiselect-container, .multiselect-container label.checkbox {
    width: 100% !important;
}

.no-text-transform {
    text-transform: none !important; 
}
.badge-green-light {
    background-color: rgb(166, 250, 166) !important;
}

.card-grey {
    background-color: rgb(242, 243, 243) !important;
}
.hide {
    display: none !important;
}

.bg-color {
    background-color: #01082c !important;
}
.color {
    color: #01082c !important;
}

.dataTable {
    width: 100% !important;
}

.border-radius-25 {
    border-radius: 25px !important;
}

/*
.app-header__logo .logo-src{
    height:23px;
    width:97px;
    background:url('../../img/ess.png');
}
*/

.min-card {
    height: 280px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

/* Style Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #01082c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #01082c; 
}

.page-item.active .page-link, .pagination .active.page-number .page-link {
    background-color: #01082c !important;
    border-color: #01082c !important;
}

.actions {
    min-width: 200px !important;
}

.bloc-file {
  background-color: rgb(75, 255, 144) !important;
  padding: 3px;
  border-radius: 10px;
  width: 350px;
  height: 80px;
  cursor: pointer;
}
.content-fiche img {
  width: 70px !important;
}

.quantity-file {
  color: hsl(0, 0%, 53%);
  display: inline;
  font-size: 11px;
  text-transform: uppercase;
}
.info-file {
  padding-left: 5px;
}
.view-files {
  font-size: 12px;
}
.view-files a {
  color: blue;
  text-decoration: none;
}
.view-files a:hover {
  text-decoration: none;
  color: blue;
}

.marg-auto {
  margin: auto !important;
}

.champ-update {
  border: none !important;
}

.small-imag-profil {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover !important;
}

.card-param {
  color: white;
  background-color: rgb(21, 21, 235) !important;
  height: 110px !important;
}

.app-header-left {
  margin-left: 70px !important;

}

.small-imag-profil {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover !important;
}

/*  Progress bar when uploading file */
.progress 
{
  display:none; 
  position:relative; 
  width:400px; 
  border: 1px solid rgb(233, 233, 247); 
  padding: 1px; 
  border-radius: 3px; 
  margin: auto;
  /*margin-bottom: 5px !important;*/
}
.bar 
{ 
  /*background-color: #B4F5B4; */
  width:0%; 
  height:20px; 
  border-radius: 3px; 
  margin-bottom: 5px !important;
}
.percent 
{ 
  position:absolute; 
  display:inline-block; 
  top:3px; 
  left:48%; 
}

.bloc-file {
  background-color: rgb(232, 232, 233) !important;
  padding: 3px;
  border-radius: 10px;
  width: 100%;
  height: 70px;
  cursor: pointer;
}
.bloc-file img {
  width: 70px;
  height: 100%;
  border-radius: 10px;
}

.bloc-file-bibli {
  background-color: rgb(232, 232, 233) !important;
  padding: 3px;
  border-radius: 5px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  height: 150px;
}

.bloc-file-bibli img {
  width: 70px;
  border-radius: 10px;
}

.quantity-file {
  color: hsl(0, 0%, 53%);
  display: inline;
  font-size: 11px;
  text-transform: uppercase;
}
.info-file {
  padding-left: 5px;
}
.view-files {
  font-size: 12px;
}
.view-files a {
  color: blue;
  text-decoration: none;
}
.view-files a:hover {
  text-decoration: none;
  color: blue;
}
.card-bibliotheque {
  min-height: 500px;
}

.vertical-nav-menu i.metismenu-state-icon, .vertical-nav-menu i.metismenu-icon {
  opacity: 1 !important;
}