<main id="main">
<section id="cness" class="cness section-bg" style="margin-top:6%">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>CNESS</h2>
          <h3>Comité Nationale de l' <span>Economie Sociale et Solidaire</span></h3>
          </div>

    </div>
</section>
</main>


