#mainNav .navbar-nav .nav-item .nav-link, #mainNav .navbar-brand {
    color: #fff !important;
}
@media screen and (max-width: 723px) { 
    #mainNav .navbar-nav .nav-item .nav-link, #mainNav .navbar-brand {
        color: #000 !important;
    }
}