body {
    overflow-x: hidden !important;
}

.mt-150 {
    margin-top: 150px !important;
}
.mb-150 {
    margin-bottom: 150px !important;
}
.cursor-pointer {
    cursor: pointer;
}
.hide {
    display: none !important;
}
._color1 {
    color: #04135E !important;
}
.bg-color {
    background-color: #04135E !important;
    color: #ffffff !important;
}
.box-shadow-0 {
    box-shadow: none !important;
}
.border-rad-0 {
    border-radius: 0 !important;
}
.btn-medium {
    width: 200px !important;
}
.demi-opac {
    opacity: 0.5 !important;
}
.btn-group {
    width: 100% !important;
    border: 1px solid gray;
}
.multiselect-container, .multiselect-container label.checkbox {
    width: 100% !important;
}

.card-login {
    border-radius: 5% !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
    transition: 0.3s !important;
}
.card-login:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important;
}