<main id="main">


				<!-- About Me -->
        <section id="about" class="three">
						<div class="container">

							<header>
								<h2><?= $dossier->intitule ?></h2>
							</header>

							<a href="#" class="image featured">
                
            <?= $this->Html->image("images/pic08.jpg" ,['alt' => '', 'class' => 'img-fluid']) ?></a>
              <section id="contact" class="four contact">
                <div class="container" data-aos="fade-up">
                      <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-12">
                            <div class="info-box mb-4">
                              <h3>Libelle Projet : </h3>
                              <h3>Secteur : </ph3>
                              <h3>Budget :  </h3>
                              <h3>Label ESS : </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </section>
					</section>

</main>